USE [master]
GO
/****** Object:  Database [Escola_CRUD]    Script Date: 11/06/2019 03:40:50 ******/
CREATE DATABASE [Escola_CRUD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Escola_CRUD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Escola_CRUD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Escola_CRUD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Escola_CRUD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Escola_CRUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Escola_CRUD]
GO
/****** Object:  Table [dbo].[Aluno]    Script Date: 11/06/2019 03:40:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aluno](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[endereco] [varchar](100) NOT NULL,
	[cidade] [varchar](100) NOT NULL,
	[uf] [char](2) NOT NULL,
	[ativo] [bit] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
